body
{
    
    font-family: sans-serif;
    background: #22c1c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1 {
    animation: color-change 4s infinite, scale-text 2.5s infinite;
  }

  @keyframes color-change {
    0% { color: blue; }
    50% { color: red; }
    100% { color: blue; }
  }

  @keyframes scale-text {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
/* Track */
::-webkit-scrollbar 
{
    width: 6px;
    height: 6px;
    background-color: #ccc;
    border-radius: 20px;
}
/* Thumb */
::-webkit-scrollbar-thumb 
{
    background-color: blueviolet;
    border-radius: 20px;
}
::-webkit-scrollbar-track 
{
    background-color: black;
    border-radius: 20px;
}

.titname
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    color: darkmagenta;
    font-size: 23px;
    padding-top: 3px;
}

.container 
{
    width: 646px;
    height: 551px;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    border-radius: 10px;
    /* margin: 25px 463px; */
    padding: 6px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 28%;
    margin-top: 40px;
    margin-bottom: 50px;
}

.container .tag1 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px;
    margin: -1px;
    /* background: burlywood; */
}

.container .tag1 label 
{
    margin-left: 4px;
    font-size: 20px;
    font-weight: 700;
    color: orangered;
    margin-right: 11px;
    width: 204px;
}

.container .tag1 input[type="text"] 
{
    margin-left: 0px;
    text-align: center;
    width: 535px;
    height: 30px;
    border-radius: 7px;
    border: 2px solid orange;
}

.container .tag1 input[type="text"]:focus
{
    border-radius: 7px;
    border: 2px solid brown;
    text-align: center;
}

.container .tag1 input[type="text"]::placeholder 
{
    font-size: 17px;
    letter-spacing: 2px;
    text-align: center;
}

.container .tag1 input[type="button"]
{
    width: 165px;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: brown;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    border: transparent;
    cursor: pointer;
}

.container .tag1 button
{
    width: 165px;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: brown;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    border: transparent;
    cursor: pointer;
}
